In [22]:
from datetime import datetime
import pandas as pd 

delay_df = pd.read_csv("data/ttc-bus-delay-data-2024.csv", sep=",", header=0)
delay_df.tail(10)

,Date,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
45290,30-Sep-24,108,01:00,Monday,SHEPPARD WEST STATION,Vision,16,32,S,8943
45291,30-Sep-24,29,01:11,Monday,SPRINGHURST LOOP,Emergency Services,12,24,NaN,9146
45292,30-Sep-24,169,01:24,Monday,BRIAN AND VAN HORNE,General Delay,30,30,W,1653
45293,30-Sep-24,47,01:25,Monday,LANSDOWNE AND COLLEGE,Collision - TTC,10,20,N,3523
45294,30-Sep-24,102,01:26,Monday,137 THE WEST MALL,Operations - Operator,17,34,W,8156
45295,30-Sep-24,63,01:29,Monday,KING AND DOWLING,Vision,10,20,S,7042
45296,30-Sep-24,32,01:37,Monday,EGLINTON AND OAKWOOD,Vision,13,18,E,7212
45297,30-Sep-24,63,01:39,Monday,OSSINGTON STATION,Vision,10,20,N,7098
45298,30-Sep-24,31,01:46,Monday,COXWELL STATION,Emergency Services,17,34,NaN,8570
45299,30-Sep-24,54,01:55,Monday,ROGUE HILL GO STATION,Vision,10,20,E,8625

Todo: Make the following a function

In [23]:
delay_df['Date'] = pd.to_datetime(delay_df['Date'],  format='%d-%b-%y')
display(max(delay_df['Date']))

Timestamp('2024-09-30 00:00:00')

In [26]:
sample_df = delay_df.loc[(delay_df['Date'] >= datetime(2024, 6, 23)) & (delay_df['Date'] <= datetime(2024, 7, 27))]
display(min(sample_df['Date']))
display(max(sample_df['Date']))

Timestamp('2024-06-23 00:00:00')

Timestamp('2024-07-27 00:00:00')

In [29]:
sample_df.to_csv('delay' + min(sample_df['Date']).strftime("%Y-%m-%d") + 'To'+ max(sample_df['Date']).strftime("%Y-%m-%d") + '.csv')